* {
    box-sizing: content-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: #e94f08;
}

body {
    background-color: #edae01;
    width: 100%;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}

h1 {
    color: #7f152e;
    padding: 15px;
}

#main-content {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    position: relative;
    height: auto;
    width: 68em;
    margin: 0 auto;
    padding: 0;
}

.box {
    padding: 15px;
    margin: 1.5px;
    border-radius: 10%;
    background-color: rgba(202, 54, 35, 0.767);
    border: 5px solid #D61800;
}


/********** Large devices only **********/

@media (min-width: 1200px) {
    .navbar-nav {
        visibility: hidden;
    }
}


/********** Medium devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav {
        visibility: hidden;
    }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/

@media (max-width: 479px) {
    /* Header */
    .navbar-brand h1 {
        padding-top: 5px;
        font-size: 6vw;
    }
    /* End Header */
    /* Home page */
    .col-xxs-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 100%;
    }
}